* {
margin: 0;
padding:0;
text-decoration: none;
}

header{
    background-color: bisque;
    height: 17vh;
    font-size:30px;
    color: brown;
    padding-top:10px;
    }

h1 {
    
    padding-top:30px;
    padding-left:20px;
}

.box2 {
    color: brown;
    text-align: right;
    padding:5px;
    
}

a {
    border: 1px solid purple;
    color: brown;
    text-align: center;
    padding:5px;
}

h2{
    color:chocolate;
    font-size: 50px;
    padding:10px;
    text-align:center;
}


#main {

    margin-left:20px;
}

h3{
     color:darkorange;
     font-size: 40px;
}

p {
  padding: 10px;
  font-size: 25px;
  color:brown;
}




footer {
    background-color:#fecf95;
    margin-top: 90px;
    height:15vh;
    font-size: 30px; 
    text-align: center;
    color:brown;
} 
